// Button styles

$button-padding: .85em 1em !default;
$button-margin: 0 $base-margin $base-margin 0 !default;
$button-radius: 3px;

// Default background color for button
$button-background: $base-blue;

// Hover color
$button-background-hover: scale-color($button-background, $lightness: -15%) !default;

// Button text color
$button-color: #fff !default;
$button-alt-color: #000 !default;

// Button border color
$button-border-color: $base-border-color !default;

// Button sizes
$button-sizes: $base-sizes !default;

// Base button styles applied to all <button class="btn"></button>
@mixin base-button {
  border: 1px solid transparent;
  cursor: pointer;
  font-size: map-get($button-sizes, default);
  line-height: 1;
  margin: $button-margin;
  padding: $button-padding;
  text-align: center;
  transition: all .25s ease-out;
}

// Applies button styles background, color and hover background
@mixin button-style (
  $background: $button-background,
  $background-hover: $button-background-hover,
  $color: $button-color
) {
  @if $background-hover == auto {
    $background-hover: scale-color($background, $lightness: 20%);
  }

  @if lightness($background) >= 70% {
    $color: $button-alt-color;
    $background-hover: scale-color($background, $lightness: -10%);
    border-color: $button-border-color;
  } @else {
    $color: $button-color;
  }

  background: $background;
  color: $color;

  &:hover,
  &:focus {
    background: $background-hover;
  }
}

.btn {
  @include base-button;

  // Different sizes
  @at-root #{&}--tiny {  font-size: map-get($button-sizes, tiny);  }
  @at-root #{&}--small { font-size: map-get($button-sizes, small); }
  @at-root #{&}--large { font-size: map-get($button-sizes, large); }

  // Button with round corners
  @at-root #{&}--round { border-radius: $button-radius; }

  // Button styles with all colors
  @each $name, $color in $hyphen-colors {
    @at-root #{&}--#{$name} {
      @include button-style($color, auto);
    }
  }

}
