// Tooltip styles

$tooltip-padding: 7px;
$tooltip-border-radius: 3px;
$tooltip-font-size: 14px;

@mixin tooltip {
  position: absolute;
  z-index: 2;

  &:before,
  &:after {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  @at-root #{&}--top {
    &:before {
      bottom: 100%;
      left: 50%;
    }

    &:after {
      @include add-triangle(8px, $base-black, bottom);
      bottom: 100%;
      left: -55px;
    }
  }

  @at-root #{&}--right {
    position: relative;

    &:after {
      bottom: 100%;
    }

    &:before {
      @include add-triangle(8px, $base-black, left);
      right: 80px;
      top: 8px;
    }
  }

  @at-root #{&}--bottom {
    bottom: -100%;
    right: 50%;

    &:after {
      @include add-triangle(8px, $base-black, top);
      bottom: 0;
    }
  }

  @at-root #{&}--left {
    left: -135%;
    top: -35px;

    &:after {
      @include add-triangle(8px, $base-black, right);
      right: -110px;
      top: 8px;
    }
  }

  &:after {
    background: $base-black;
    border-radius: $tooltip-border-radius;
    color: $white;
    content: attr(data-title);
    font-size: $tooltip-font-size;
    line-height: 1.2em;
    margin-bottom: 15px;
    margin-left: -80px;
    min-width: 160px;
    padding: $tooltip-padding;
    text-align: center;
  }

  &:before {
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
  }
}

.tooltip-container {
  position: relative;

  .tooltip {
    @include tooltip;
  }

  &:hover {
    .tooltip:before,
    .tooltip:after {
      opacity: 1;
      visibility: visible;
    }
  }
}
