// Tooltip styles

$tooltip-padding: 7px;
$tooltip-border-radius: 6px;
$tooltip-font-size: 14px;
$tooltip-color: darken($base-black, 10%);

@mixin tooltip {
  background: $tooltip-color;
  border-radius: $tooltip-border-radius;
  color: $white;
  display: none;
  font-size: $tooltip-font-size;
  min-height: 1.35em;
  line-height: 1.35em;
  min-width: 160px;
  padding: 5px;
  position: absolute;
  text-align: center;

  @at-root #{&}--top {
    &:after {
      @include add-triangle(8px, $tooltip-color, bottom);
      left: 50%;
      margin-left: -8px;
      position: absolute;
      top: 100%;
    }
  }

  @at-root #{&}--right {
    &:after {
      @include add-triangle(8px, $tooltip-color, left);
      margin-top: -8px;
      position: absolute;
      right: 100%;
      top: 50%;
    }
  }

  @at-root #{&}--bottom {
    &:after {
      @include add-triangle(8px, $tooltip-color, top);
      bottom: 100%;
      left: 50%;
      margin-left: -8px;
      position: absolute;
    }
  }

  @at-root #{&}--left {
    &:after {
      @include add-triangle(8px, $tooltip-color, right);
      left: 100%;
      margin-top: -8px;
      position: absolute;
      top: 50%;
    }
  }
}

.tooltip-container {
  position: relative;

  .tooltip {
    @include tooltip;
  }

  &:hover {
    .tooltip {
      display: block;
      opacity: .8;
      z-index: 999;
    }

    .tooltip--top {
      bottom: 150%;
      left: 50%;
      margin-left: -80px;
    }

    .tooltip--right {
      left: 100%;
      margin-left: 15px;
      margin-top: -1.35em;
      top: 50%;
    }

    .tooltip--bottom {
      left: 50%;
      margin-left: -80px;
      top: 150%;
    }

    .tooltip--left {
      margin-right: 15px;
      margin-top: -1.35em;
      right: 100%;
      top: 50%;
    }
  }
}
