// Typography

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

$font-family: 'Source Sans Pro', sans-serif;

$html-elements: (
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  button,
  table,
  textarea,
  input,
  select,
  ul,
  li
);

@function elements() {
  $result: ();

  @each $element in $html-elements {
    $result: append($result, #{$element}, comma);
  }

  @return $result;
}

@mixin base-font-family {
  #{elements()} {
    font-family: $font-family;
  }
}

@include base-font-family;
