// Default settings for Hyphen

$white: #fff;
$black: #000;

// Primary colors
$base-black: #34495e !default;
$base-blue: #3498db !default;
$base-white: #ecf0f1 !default;
$base-green: #2ecc71 !default;
$base-red: #e74c3c !default;
$base-orange: #f39c12 !default;

// Margin
$base-margin: 1rem !default;

// Padding
$base-padding: 1rem !default;

// Border color
$base-border-color: #bdc3c7 !default;

// Map of sizes
$base-sizes: (
  tiny: .65rem,
  small: .75rem,
  default: .9rem,
  large: 1.25rem
) !default;

// Map of base colors
$hyphen-colors: (
  primary: $base-blue,
  secondary: $base-black,
  tertiary: $base-white,
  success: $base-green,
  alert: $base-red,
  warning: $base-orange
);

// Grid breakpoints
$breakpoints: (
  mobile: '(max-width: 480px)',
  tablet: '(min-width: 481px) and (max-width: 1024px)',
  laptop: '(min-width: 1025px) and (max-width: 1200px)',
  desktop: '(min-width: 1201px)',
);
