// Default settings for Hyphen

$white: #fff;
$black: #000;

// Primary colors
$base-black: #34495e !default;
$base-blue: #1fbad6 !default;
$base-white: #fff !default;
$base-green: #3dc269 !default;
$base-red: #ca3b27 !default;
$base-orange: #ecab20 !default;

// Margin
$base-margin: 1rem !default;

// Padding
$base-padding: 1rem !default;

// Border color
$base-border-color: #bdc3c7 !default;

// Map of sizes
$base-sizes: (
  tiny: .65rem,
  small: .75rem,
  default: .9rem,
  large: 1.25rem
) !default;

// Map of base colors
$hyphen-colors: (
  primary: $base-blue,
  secondary: $base-black,
  tertiary: $base-white,
  success: $base-green,
  alert: $base-red,
  warning: $base-orange
);

// Grid breakpoints
$breakpoints: (
  mobile: '(max-width: 480px)',
  tablet: '(min-width: 481px) and (max-width: 1024px)',
  laptop: '(min-width: 1025px) and (max-width: 1200px)',
  desktop: '(min-width: 1201px)',
);

$border-radius: 100px !default;
$color: #c0c0c0 !default;

//height of switch component
$switch-height: (
  tiny: 17px,
  small: 21px,
  default: 25px,
  large: 29px
) !default;

//width of entire switch component
$component-width: (
  tiny: 44px,
  small: 53px,
  default: 62px,
  large: 73px
) !default;

//width of switch in toggle component
$switch-width: (
  tiny: 17px,
  small: 22px,
  default: 26px,
  large: 29px
) !default;

//position of switch when it's in off state
$switch-position: (
  tiny: -27px,
  small: -31px,
  default: -36px,
  large: -44px
) !default;

// Background color for switch
$switchbackground: $white;
